/*=============================
=            Forms            =
=============================*/
.input-material {
	position: relative;
	margin-bottom: 45px;
	@include placeholder {
		color: $placeholderColor;
	}
}
/*=====  End of Forms  ======*/
