$bodyColor: #F7F7F7;
$mobileColor1: #B91D47;
$mobileColor2: #00A300;
$mobileColor3: #94009B;
$mobileColor4: #277AF6;
$mobileColor5: #DC4B24;
$mobileColor6: #047090;
$placeholderColor: #939393;
$linkColor: #5FB000;
